* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container { 
  margin-top: 60px ;
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;   
  
  
}

/* =============================================================CARD====================================================== */
.card img {
  width: 100px;
  border-radius: 40%;
}
.card {
  width: 90%;
  max-width: 440px;
  color: white;
  text-align: center;
  padding: 60px 35px 100px 35px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(132, 132, 132, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.card h2 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
}
.card p {
  font-size: 20px;
  font-weight: 300;
  margin: 10px auto;
  
}

span{
  color: rgb(209, 109, 255);
  font-weight: bold;
}
.card .links i {
  color: white;
  font-size: 50px;
  margin: 20px 15px;
  border-radius: 10%;
  transition: background 0.5s;
}

.custom-insta{
  background-color: rgb(184, 17, 17);
  
}

.custom-linked{
  background-color: rgb(55, 115, 255);
}

.custom-tele{
  background-color: rgb(14, 177, 241);
}

.custom-insta:hover {
  background-color: rgb(255, 120, 3);
  font-weight: bold;
  
}

.custom-linked:hover{
  background-color: rgb(162, 0, 232);
  font-weight: bold;
}

.custom-tele:hover{
  background-color: rgb(255, 0, 174);
  font-weight: bold;
}

/* ABOUTME---------------------------------------------------------------------------------------------------------------- */

.myself{
  width: 100%;
  display: block;
  margin-top: 40px;
  

}

.myself h4{
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 600;
  
}

.myself p{

  color: rgb(239, 239, 239);
  text-align: center;  
  padding: 30px;
  font-size: 18px;
  font-weight: 300;

}











/* ============================================================ABOUTME====================================================== */

.aboutme {
  margin-top: 100px ;
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.aboutme h4 {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.skills {
  display: flex;
  justify-content: center;
  padding-bottom: 55px;
  margin-bottom: 80px;
}

.skills i {
  color: white;
  font-size: 40px;
  margin: 10px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.custom-html{
  background-color: red;
}

.custom-css{
  background-color: rgb(1, 85, 255);
}

.custom-boot{
  background-color: rgb(212, 0, 255);
}

.custom-js{
  background-color: rgb(255, 196, 0);
}

.skills i:hover {
  background: #0000004c;
}

/* =====================TRABAJOS WORKS====================== */

.myworks {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
}

.myworks h4 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.spin {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.spin p {
  text-align: center;
  color: white;
  font-size: 15px;
  letter-spacing: 8px;
  margin-bottom: 30px;
}

/* ====================SWIPER CUBE============================== */

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.footer{
  width: 100%;
  height: 300px;
}
















