* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* NAVBAR------------------------------------------------------------------------------------------------- */

header {
  top: 0;
  left: 0;
  position:static;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: transparent;
  color: #fff; 
  z-index: 1000;
  
} 


.logo img{
  width: 50px;
  padding-top: 4px;
}


header .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem 1.5rem;    
  color: #ffffff;
  letter-spacing: 1px;
}

header .navbar a:hover
 {
  color: #782bff;
}

header .btn {
  font-size: 25px;
  cursor: pointer;
  display: none;
}


@media (max-width: 991px) {
  html {
    font-size: 0.9rem;
  }
  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  header .btn {
    display: block;
  }

  header .navbar {
    z-index: 1000;
    position: fixed;
    flex-direction: column;
    min-width: 300px;
    height: 100vh;
    background: #000000;
    top: 0;
    right: -100%;
    transition: all 0.9s;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10rem;
  }

  header .navbar.active2 {
    right: 0;
    transition: 0.7s;
  }

  header .navbar .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .navbar a {
    display: block;
    font-size: 1.9rem;
    margin: 15px;
    padding: 0.5rem 15px;
  }

  header .logo {
    font-size: 25px;
    font-weight: 500;
  }
}










.container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =============================================================CARD====================================================== */
.card img {
  width: 100px;
  border-radius: 40%;
}
.card {
  margin-top: 20px;
  width: 90%;
  max-width: 440px;
  color: white;
  text-align: center;
  padding: 35px 25px 70px 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(132, 132, 132, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgb(95, 95, 95);
  backdrop-filter: blur(5px);
  z-index: 900;
}

.card h2 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
}
.card p {
  font-size: 20px;
  font-weight: 300;
  margin: 10px auto;
}

span {
  color: rgb(152, 0, 246);
  font-weight: bold;
}
.card .links i {
  color: white;
  font-size: 50px;
  margin: 20px 15px;
  border-radius: 10%;
  transition: background 0.5s;
}

.custom-insta {
  background-color: rgb(184, 17, 17);
}

.custom-linked {
  background-color: rgb(55, 115, 255);
}

.custom-tele {
  background-color: rgb(14, 177, 241);
}

.custom-insta:hover {
  background-color: rgb(255, 120, 3);
  font-weight: bold;
}

.custom-linked:hover {
  background-color: rgb(162, 0, 232);
  font-weight: bold;
}

.custom-tele:hover {
  background-color: rgb(255, 0, 174);
  font-weight: bold;
}

/* ABOUTME---------------------------------------------------------------------------------------------------------------- */

.myself {
  width: 100%;
  display: block;
  margin-top: 20px;
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}

.myself h4 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 30px 30px 5px 30px;
}



.myself p {
  color: rgb(239, 239, 239);
  text-align: center;
  padding: 30px 30px 20px 30px;
  font-size: 18px;
  font-weight: 300;
}

.btnchange{
  display: flex;
  width: 100%;
  justify-content: center;
}

.btnchange button{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(152, 0, 246);
  border: none;
  color: white;
  letter-spacing: 1px;
}

.btnchange button:hover{
  background-color: rgb(32, 0, 51);
  color: white;
  transition: all 1s;
 
}


/* ============================================================ABOUTME====================================================== */

.aboutme {
  margin-top: 100px;
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.aboutme h4 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  padding: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 55px;
  margin-bottom: 80px;
}

.skills i {
  color: white;
  font-size: 40px;
  margin: 10px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  
}

.custom-html {
  background-color: red;
}

.custom-css {
  background-color: rgb(1, 85, 255);
}

.custom-boot {
  background-color: rgb(212, 0, 255);
}

.custom-js {
  background-color: rgb(255, 196, 0);
}

.skills i:hover {
  background: #0000004c;
}

.custom-react{
  background-color: rgb(0, 183, 255);
}

/* =====================TRABAJOS WORKS====================== */

.myworks {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
}

.myworks h4 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 30px;
}

.spin {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.spin p {
  text-align: center;
  color: white;
  font-size: 15px;
  letter-spacing: 8px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px;
}

/* ====================SWIPER CUBE============================== */

.swiper {
  width: 300px;
  height: 300px;
  position: absolute; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #6900c5 !important;
  --swiper-pagination-bullet-size: 8px;
}

/* --------------contact------------------------------------------ */
.contactformtitle {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactformtitle h4 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 30px;
}

.contact {
  min-height: 100vh;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact > div {
  background: rgba(132, 132, 132, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  padding: 2.5em;
  border-radius: 20px;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

.contact h1 {
  font-size: 2.5em;
  color: white;
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contact input,
.contact textarea {
  border: none;
  padding: 0.8em;
  width: 100%;
  border-radius: 10px;
  margin: 0.5em 0 1em 0;
  font-size: 1.1em;
  background: #eee;
  color: #6900c5;
}

.contact label {
  color: #ffffff;
}

.contact textarea {
  resize: none;
  height: 8em;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #bababa;
}

.contact button {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0.8em;
  background-color: rgb(167, 40, 253);
  color: #fff;
  border-radius: 8px;
  font-size: 1.2em;
  transition: 0.3s;
}

.contact button:hover {
  background-color: rgb(91, 0, 152);
  border-radius: 30px;
  transition: all 0.5s;
}

.spancustomcolor {
  color: rgb(145, 66, 248);
}

@media screen and (max-width: 500px) {
  .contact {
    font-size: 14px;
  }
}
